.cards {
  border: 1px #979797 solid;
  background-color: #ffffff;
  margin: 15px;
}

.cards h3 {
  padding: 20px 20px 0 20px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
}

.cards p {
  padding: 0 20px 20px 20px;
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
}
