.green_title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  background: #9c3;
  padding: 10px 7px 10px 7px;
}

.blue_title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  background: #00a8b1;
  padding: 10px 7px 10px 7px;
}
